<% include ../header.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col title">
                <p><%= foundBook.name %></p>
        </div>
        <div class="col">
            <p><i class="far fa-star"></i><%= foundBook.rating %>/10</p>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success">Rate This Book</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
                <img class="image" src="<%= foundBook.image %>" alt="<%= foundBook.name %>">
        </div>
        <div class="col-md-6">
            <div class="list">
                <ul>
                    Genre: <%= foundBook.genre%> 
                </ul>
                <ul>
                    Author: <%= foundBook.author %>
                </ul>
                <ul>
                    Buy Link: <a href="<%= foundBook.buylink %>"><i class="fab fa-amazon fa-1x"></i></a>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2><u>Description:-</u></h2>
    </div>
    <div class="row">
        <p><%= foundBook.description %></p>
    </div>
    <hr>
    <% var bookarray = [] %>
    <% books.forEach(function(book){ %>
        <% bookarray.push(book.image) %>
    <% }) %>
    <div class="row">
        <h2><u>Similiar Books</u></h2>
    </div>
    <hr>
    <div class="row">
        <h2><u>Reviews & Commentry</u></h2>
    </div>
    <div class="row card card-body bg-light">
        <% foundBook.reviews.forEach(function(review){ %>
            <div class="row">
                <div class="col-md-12">
                    <strong><%= review.author.username %></strong>
                    <% var date = new String(review.date).split(" ")%>
                    <h6 style="text-align:right"><%= date[2]%>/<%= date[1] %>/<%= date[3] %></h6>
                    <h6 style="text-align:right"><%= date[4] %></h6>
                    <p>
                        <%= review.text %>
                    </p>
                </div>
            </div>
            <hr>
        <% }) %>
        <% if(currentUser){ %>
            <div class="row">
                    <form action="/books/<%= foundBook._id %>/reviews" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="text" name="review[text]">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary btn-block">Comment</button>
                        </div>
                    </form>
            </div>
       <% } %>
    </div>
    <hr>
    <p>Where can I get some?
            There are many variations of passages of Lorem Ipsum available, 
            but the majority have suffered alteration in some form,<br>
             by injected humour, or randomised words which don't look even 
             slightly believable. If you are going to use a passage of Lorem
              Ipsum, you need to be sure there isn't anything embarrassing <br>
              hidden in the middle of text. All the Lorem Ipsum generators 
              on the Internet tend to repeat predefined chunks as necessary,
               making this the first true generator on the Internet.<br> 
               It uses a dictionary of over 200 Latin words,
                combined with a handful of model sentence structures,
                 to generate Lorem Ipsum which looks reasonable.<br> 
                 The generated Lorem Ipsum is therefore always free from 
                 repetition, injected humour, or non-characteristic words etc.
    </p>
    <hr>
    <br>
    <br>
    <br>
</div>
<% include ../footer.ejs %>