<% include ../header.ejs %>
<div class="container-fluid">
    <div class="row">
        <div class="col title">
                <p><%= foundBook.name %></p>
        </div>
        <div class="col">
            <p><span style="color:gold;"><i class="fas fa-star"></i></span><%= foundBook.rating.total %>/5</p>
        </div>
        <% if(currentUser){ %>
            <div class="col">
                    <form method="POST" action="/books/<%= foundBook.id %>">
                        <div class="rating">
                            <input type="radio" name="star" id="star1" value="5"><label for="star1"></label>
                            <input type="radio" name="star" id="star2" value="4"><label for="star2"></label>
                            <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
                            <input type="radio" name="star" id="star4" value="2"><label for="star4"></label>
                            <input type="radio" name="star" id="star5" value="1"><label for="star5"></label>
                        </div>
                        <% var val = ('input[name="star"]:checked').value %>
                        <button type="submit" class="btn btn-primary">Submit</button>
            </form>
                </div>
        <% } %>
        
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
                <img class="image" src="<%= foundBook.image %>" alt="<%= foundBook.name %>">
        </div>
        <div class="col-md-6">
            <div class="list">
                <ul>
                    Genre: <%= foundBook.genre%> 
                </ul>
                <ul>
                    Author: <%= foundBook.author %>
                </ul>
                <ul>
                    Buy Link: <a href="<%= foundBook.buylink %>" target="_blank"><i class="fab fa-amazon fa-1x"></i></a>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2><u>Description:-</u></h2>
    </div>
    <div class="row">
        <p><%= foundBook.description %></p>
    </div>
    <hr>
    <% var bookarray = [] %>
    <% books.forEach(function(book){ %>
        <% bookarray.push(book.image) %>
    <% }) %>
    <div class="row">
        <h2><u>Similiar Books</u></h2>
        <div class="container-fluid">
                <div class="row">
                        <div class="owl-carousel owl-theme">
                            <% books.forEach(function(book){ %>
                                <% if(book.id != foundBook.id){ %>
                                    <div class="item">
                                            <a href="/books/<%= book.id %>">
                                                    <img src="<%= book.image %>" title="<%= book.name %>">
                                            </a>
                                            </div>
                               <% } %>
                                
                            <% }) %>
                                
                                
                        </div>
                </div>
            </div>
    </div>
    <hr>
    <div class="row">
        <h2><u>Reviews & Commentry</u></h2>
    </div>
    <div class="row card card-body bg-light">
        <% foundBook.reviews.forEach(function(review){ %>
            <div class="row">
                <div class="col-md-12">
                    <strong><%= review.author.username %></strong>
                    <% var date = new String(review.date).split(" ")%>
                    <h6 style="text-align:right"><%= date[2]%>/<%= date[1] %>/<%= date[3] %></h6>
                    <h6 style="text-align:right"><%= date[4] %></h6>
                    <p>
                        <%= review.text %>
                    </p>
                </div>
            </div>
            <hr>
        <% }) %>
        <% if(currentUser){ %>
            <div class="row">
                    <form action="/books/<%= foundBook._id %>/reviews" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="text" name="review[text]">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary btn-block">Comment</button>
                        </div>
                    </form>
            </div>
       <% } %>
    </div>
    <hr>
    <p>Where can I get some?
            There are many variations of passages of Lorem Ipsum available, 
            but the majority have suffered alteration in some form,<br>
             by injected humour, or randomised words which don't look even 
             slightly believable. If you are going to use a passage of Lorem
              Ipsum, you need to be sure there isn't anything embarrassing <br>
              hidden in the middle of text. All the Lorem Ipsum generators 
              on the Internet tend to repeat predefined chunks as necessary,
               making this the first true generator on the Internet.<br> 
               It uses a dictionary of over 200 Latin words,
                combined with a handful of model sentence structures,
                 to generate Lorem Ipsum which looks reasonable.<br> 
                 The generated Lorem Ipsum is therefore always free from 
                 repetition, injected humour, or non-characteristic words etc.
    </p>
    <hr>
    <br>
    <br>
    <br>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="a<img src=""></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
            <script type="text/javascript" src="/scripts/owl.carousel.js"></script>
            <script type="text/javascript" src="/scripts/owl.carousel.min.js"></script>
            <script>
                $('.owl-carousel').owlCarousel({
                    loop:true,
                    margin:10,
                    nav:true,
                    responsive:{
                        0:{
                            items:1
                        },
                        600:{
                            items:3
                        },
                        1000:{
                            items:6
                        }
                    }
                })
            </script>
<% include ../footer.ejs %>